body{
  font-family: Helvetica;
  font-size: 14pt;
}
/* Headers */
  h1{
    font-size: 28pt;
  }
  h2{
    font-size: 25pt;
  }
  h3{
    font-size:22pt;
  }
  h4{
    font-size:19pt;
  }
  h5{
    font-size:16pt;
  }